:root {
    line-height: 1.5;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    background-color: rgb(204, 102, 77);
}

header {
    padding: 0 30px 0 10px;
    width: 100%;
    height: 500px;
    background-image: url(main-image-cropped.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
}

header > div {
    display: flex;
    gap: 20px;
}

header p {
    line-height: 150px;
}

nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 3rem;
}

nav > button {
    all: unset;
    cursor: pointer;
}

nav > button:hover {
    color: rgb(106, 90, 205);
}

.marker, .restaurant-name {
    font-family: 'Permanent Marker', system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.restaurant-name {
    font-size: 7rem;
}

h1 {
    font-family: Montserrat, system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-family: Lato, system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-content {
    padding: 40px 80px 0 40px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.home-content h1 {  
    font-size: 5rem;
    font-weight: 900;
    margin: 10px 0 25px 0;
    color: rgb(0, 128, 128);
}

.home-content h2 {  
    font-size: 4rem;
    color: rgb(106, 90, 205);
}

#content-nav {
    margin-top: 2px;
    padding: 1px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 3rem;
    background-color: rgb(0, 128, 128);
    border-radius: 40px;
}

#content-nav > button {
    all: unset; 
    cursor: pointer;
}

#content-nav > button:hover {
    color: rgb(204, 102, 77);
}